<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-center">Liste des mets</ion-title>
  </ion-toolbar>
  <ion-searchbar
    (ionInput)="search($event)"
    placeholder="Recherche ..."
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let met of listeMets | filter : searchText"
    (click)="detailMet(met)"
  >
    <img style="width: 100%" src="{{met.Image}}" />
    <ion-card-header>
      <ion-card-subtitle>Pays d'origine : {{met.Origine}}</ion-card-subtitle>
      <ion-card-title> <b> Nom : {{met.Nom}}</b></ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
