<ion-header>
  <ion-toolbar color="danger" class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"> </ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">détails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img style="width: 100%" src="{{objet.Image}}" />
    <ion-card-header>
      <ion-card-subtitle>Pays d'origine : {{objet.Origine}}</ion-card-subtitle>
      <ion-card-title> <b>Nom : {{objet.Nom}}</b></ion-card-title>
    </ion-card-header>

    <ion-card-content> {{objet.Description}} </ion-card-content>
  </ion-card>
</ion-content>
